@model IEnumerable<EventAdmin.Models.Concert>
    @{
        ViewBag.Title = "Home Page";
    }
    <ul>
        @foreach (var concert in Model)
        {
            <li>@concert.DateTime - @concert.Artist.FirstName</li> }
    </ul>
