body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}


/*Overriding Bootstrap */

.navbar-inverse {
    background-color: #ea2a2a;
    border-color: #ea2a2a;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    background-color: #ea2a2a;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.nav > li > a {
    font-size: 17px;
}

.navbar-brand {
    font-size: 22px;
    font-weight: 700;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ea2a2a;
}

.dropdown-menu a {
    color: #ea2a2a;
    font-size: 17px;
    margin-left: 5px;
}



a:hover,
a:focus {
  color: #ea2a2a;
  text-decoration: underline;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

/*Form Concerts*/
.label-info {
    font-size: 12px;
}

label {
    font-size: 17px;
}

.form-control:focus{
    box-shadow: none;
}

.btn-primary {
    padding: 6px 20px;
    font-size: 17px;
    font-weight: 700;
}

.calendar-month {
    background-color: red;
    width: 80px;
    height: 25px;
    border-radius: 12px 12px 0 0;
    color: #fff;
    font-size: 17px;
}
.calendar-general{
    text-align: center;
    font-weight: 700;
}
.calendar-day {
    width: 80px;
    height: 45px;
    border-radius: 0 0 6px 6px;
    border: 1px;
    border-style: solid;
    border-color: #4545541a;
    color: gray;
    font-size: 25px;
}

.container-concerts {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 35px;
}

.artist-info{
    width: 350px;
    margin-left: 15px;
    font-family: 'Lato', sans-serif;
}

.artist-info h4{
    font-size: 17px;
    font-weight: 700;
}

h5.genre {
    color: #827e7e;
    font-size: 16px;
}

.going-container {
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.btn-going{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border-radius: 12px;
}